<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Report Email of Recapitulation Ticket Request</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
 <body>
 	<table>
      <tr>
        <td colspan="3">
        	<h4 th:text="${'Dear ' + name + ','}"></h4>
        </td>
      </tr>
      <tr>
        <td colspan="3">
        	<p> Below are the attachment file of the Report report of request on
     	 		<span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy  HH:mm')}"></span>
    		</p>
		</td>
      </tr>
      <tr>
        <td colspan="3">
        	<p>
		      Regards, <br />
		 	  Head Manager<br /><br />
		      <em>Abu Bakar As Siddiq</em>
		    </p>
		</td>
      </tr>
    </table>
  </body>
</html> 